/*
 * Typography modified from Blueprint CSS
 * http://www.blueprintcss.org/
 */

html { font-size:100.01%; }
body {
  font-size: 12px;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #F5F6F6;
}


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #000; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1.5em; }
/*
	These can be used to pull an image at the start of a paragraph, so
	that the text flows around it (usage: <p><img class="left">Text</p>)
 */
.left  			{ float: left !important; }
p .left			{ margin: 1.5em 1.5em 1.5em 0; padding: 0; }
.right 			{ float: right !important; }
p .right 		{ margin: 1.5em 0 1.5em 1.5em; padding: 0; }

a:focus,
a:hover     { color: #000; }
a           { color: #000; text-decoration: underline; }

blockquote  { margin: 1.5em; color: #000; font-style: italic; }
strong,dfn	{ font-weight: bold; }
em,dfn      { font-style: italic; }
sup, sub    { line-height: 0; }

abbr,
acronym     { border-bottom: 1px dotted #000; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#000; }

pre         { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */

li ul,
li ol       { margin: 0; }
ul, ol      { margin: 0 1.5em 1.5em 0; padding-left: 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 1.5em; margin-bottom: 1.25em; }

.loud       { color: #008ccf; }



.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}


.page_number, .page_number:hover { padding: 2px 5px; font-size: 10px; color: #008CCF; background-color: #FFF; font-weight: bold; cursor: pointer; text-decoration: none;}
.page_number_selected, .page_number_selected:hover { padding: 2px 5px; font-size: 10px; color: #000; background-color: #CCC; font-weight: bold; cursor: normal; text-decoration: none}
.smalltext {font-size: 12px;}
.smallertext {font-size: 11px;}
.bluelink, .bluelink:visited, .bluelink:hover {color: #008CCF; font-size: 11px; text-decoration: none;}
.bluelink_large, .bluelink_large:visited, .bluelink_large:hover {color: #008CCF; font-size: 13px; text-decoration: none; font-weight: bold}
.whitelink, .whitelink:visited, .whitelink:hover {color: #FFF; font-size: 11px; text-decoration: none;}
.clear {height: 0; font-size: 0; clear:both}

.photocodeinput { width:80px; padding:2px 10px; }

#social_menu { margin:10px 0; }
#social_menu h5 {float:left; line-height:30px; margin-right:10px;}
#social_menu a {float:left; margin-right:7px}

/*
AIRNZ 787 TOUR CSS, jay mabazza
*/
#content {width: 900px; margin: 0 auto;}
.header_logo {width: 100%; height: 61px;}
.main_content {background-image: url("/images/BG.jpg"); background-color: #2B4E78; position: relative; background-repeat: no-repeat; min-height:917px;}
.section {padding-top: 250px; margin-left: 65px; width: 474px; padding-bottom: 30px;}
.box_top {background: url("/images/box_top.png"); height: 25px; width: 474px;}
.article {background: none #FFF; padding: 0 20px 20px 20px;}
.footer_notes {height: 100px; line-height: 100px; background-color: #CCC; text-align: center; font-size: 11px;}
.form_field_container {color: #FF0000;}
.form_field_container_bl {color: #000}

.register_box { background-color: #CCC; padding: 8px;}



.tn_container { float: left; width: 100px; height: 100px; overflow: hidden; border: none; margin-right: 8px; margin-bottom: 7px; }
#gallery-per-image a, #gallery-per-image a:visited { border: 0; }
#gallery-per-image a:hover { border: 1px solid #008CCF; }