body {
  background: #211c3e url(../images/background.jpg) no-repeat center top;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

#container {
  position: relative;
  margin: 30px auto;
  width: 900px;
}

#container-gallery {
  position: relative;
  margin: 30px auto;
  width: 792px;
}

#logo { position: absolute; right: 40px; top: 0; }
#heading { position: absolute; left: 175px; top: 30px; }
#intro { position: absolute; left: 175px; top: 165px; }
#left_shots { position: absolute; left: 28px; top: 220px; }
#right_shots { position: absolute; left: 658px; top: 160px; }
#content { position: relative; left:255px; top:245px; width: 390px; margin-bottom:50px; }
#content-gallery { position: relative; left:64px; top:245px; width: 750px; margin-bottom:50px; }

.tn_container { float: left; width: 100px; height: 100px; overflow: hidden; border: none; margin-right: 10px; margin-bottom: 10px; }
#gallery-per-image a, #gallery-per-image a:visited { border: 0; }
#gallery-per-image a:hover { border: 1px solid #008CCF; }


hr {
  height: 1px;
  border-width: 1px 0 0 0;
  border-style: dashed;
  border-color: #6f618e;
}

fieldset {margin: 2em 0 0; font-size: .9em;}
legend {margin-bottom:.5em;}

.form_row {position:relative; margin:0 0 1em 0;}
.form_row_ticket_count .radio_list {margin:0; padding:0; list-style:none;}
.form_row_ticket_count .radio_list li {margin:0; padding:0; list-style:none; float:left; margin-right: 25px;}

.form_row_inline label {float:left; width:150px;}
.form_row_inline .round_field {float:right; width:230px;}
.form_row_inline .round_field2 {float:right; width:50px;}

.round_field { dislay:block; position:relative; padding-right: 9px; background: url(../images/field-background.png) no-repeat right -18px; }
.round_field2 { dislay:block; position:relative; padding-right: 9px; background: url(../images/field-background.png) no-repeat right -18px; }
.round_field div { position: relative; padding: 2px; background: url(../images/field-background.png) no-repeat; }
.round_field2 div { position: relative; padding: 2px; background: url(../images/field-background.png) no-repeat; }
.round_field input { position: relative; width:100%; border: 0; padding: 0; margin: 0; font-size:11px; }
.round_field2 input { position: relative; width:100%; border: 0; padding: 0; margin: 0; font-size:11px; }

.form_errors, .form_field_error {display:block; color:#f33; clear:both; list-style:none; margin:0; padding:0;}
.form_errors, .form_field_error {list-style:none; margin:0; padding:0;}





/*
 * Typography modified from Blueprint CSS
 * http://www.blueprintcss.org/
 */

html { font-size:100.01%; }
body {
  font-size: 85%;
  color: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #fff; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1.5em; }
/*
	These can be used to pull an image at the start of a paragraph, so
	that the text flows around it (usage: <p><img class="left">Text</p>)
 */
.left  			{ float: left !important; }
p .left			{ margin: 1.5em 1.5em 1.5em 0; padding: 0; }
.right 			{ float: right !important; }
p .right 		{ margin: 1.5em 0 1.5em 1.5em; padding: 0; }

a:focus,
a:hover     { color: #fff; }
a           { color: #fff; text-decoration: underline; }

blockquote  { margin: 1.5em; color: #fff; font-style: italic; }
strong,dfn	{ font-weight: bold; }
em,dfn      { font-style: italic; }
sup, sub    { line-height: 0; }

abbr,
acronym     { border-bottom: 1px dotted #fff; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#fff; }

pre         { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */

li ul,
li ol       { margin: 0; }
ul, ol      { margin: 0 1.5em 1.5em 0; padding-left: 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 1.5em; margin-bottom: 1.25em; }

.loud       { color: #008ccf; }



.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}


.page_number, .page_number:hover { padding: 2px 5px; font-size: 10px; color: #008CCF; background-color: #FFF; font-weight: bold; cursor: pointer; text-decoration: none;}
.page_number_selected, .page_number_selected:hover { padding: 2px 5px; font-size: 10px; color: #000; background-color: #CCC; font-weight: bold; cursor: normal; text-decoration: none}
.smalltext {font-size: 12px;}
.smallertext {font-size: 11px;}
.bluelink, .bluelink:visited, .bluelink:hover {color: #008CCF; font-size: 11px; text-decoration: none;}
.bluelink_large, .bluelink_large:visited, .bluelink_large:hover {color: #008CCF; font-size: 13px; text-decoration: none; font-weight: bold}
.whitelink, .whitelink:visited, .whitelink:hover {color: #FFF; font-size: 11px; text-decoration: none;}
.clear {height: 0; font-size: 0; clear:both}

.photocodeinput { width:80px; padding:2px 10px; }

#social_menu { margin:10px 0; }
#social_menu h5 {float:left; line-height:30px; margin-right:10px;}
#social_menu a {float:left; margin-right:7px}